{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" },
        "Sex",
        "Candy",
        "Jasmine",
        "Kitty",
        "Diamond",
        "Pink",
        "Amber",
        "Tanya",
        "Tangerine",
        "Missy",
        "Jessie",
        "Casey",
        "Mindy",
        "Nikki",
        "Jessica",
        "Lisa",
        "Angel",
        "Kelly",
        "Victoria",
        "Vanessa",
        "Samantha",
        "Michelle",
        "Nicole",
        "Amethyst",
        "Brandy",
        "Roxxy"
      ],
      [ { "mode" : "alts" }, 
        " Kitten",
        " Love",
        " Lee",
        " Foxx",
        " Rose",
        " Sweet",
        " Deep",
        " Honey",
        " Sugar",
        " Santana",
        " Steele",
        " Hart",
        " Mink",
        " Pearl",
        " Poole",
        " Oasis",
        " Prada",
        " Lovelace",
        " Sprinkle",
        " Cox"
      ]
    ]
  ]
}