{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" },
        "Jon",
        "Jed",
        "Butch",
        "Rider",
        "Jon",
        "Dick",
        "Lance",
        "Neil",
        "Buck",
        "Mango",
        "Nelson",
        "Lord",
        "Biggie",
        "Kirk",
        "Brook",
        "Leo",
        "Kurt"
      ],
      [ { "mode" : "alts" }, 
        " Loads", 
        " Lots", 
        " Hardon", 
        " Rod", 
        " Hard", 
        " Long", 
        " Wilde", 
        " Steele", 
        " Hawke", 
        " Ryker", 
        " Rush", 
        " Atlas", 
        " Frost", 
        " Fresh", 
        " Rush", 
        " Russel", 
        " Weld", 
        " Thick"
      ]
    ]
  ]
}