{
	// Configuration data for the humanoid renderer.	All values in pixels.

	//Head Run And Swim Offset:
	//The offset applied to your character while swimming or running
	"headRunOffset" : [1, 0],
	"headSwimOffset" : [1, 0],

	//Run Fall Offset
	//Game Documentation: Offset for hair and chest when running or falling
	"runFallOffset" : 1,


	// Offset for hair and chest when ducking
	"duckOffset" : -8,
	"headDuckOffset" : [1, 0],



	//Sit & Lay Offset:
	//These are the offset applied when sitting or laying, they affect your whole body
	"sitOffset" : -1,
	"layOffset" : -1,


	//Head Sit & Lay Offset:
	//The are the offset applied to the head of your character when sitting or laying.
	"headSitOffset" : [0, 0],
	"headLayOffset" : [0, -1],



	//Recoil Offset:
	//The arm offset when taking cooldown from a weapon
	"recoilOffset" : [-1, 0],



	//Arm Walk & Run Sequance:
	//Base Documentation:
	//This tells the game to use frame number x for the walk and run animation.
	//If you would be to replace all the number with ones, you will endup with a
	//walk animation that only used the run.1 and walk.1 frames of the arm when
	//walking or running.
	//
	//Game Documentation:
	// Walking sequence for front and back arms
	"armWalkSeq" : [2, 1, 2, 3, 4, 5, 4, 3],
	"armRunSeq" : [2, 1, 2, 3, 4, 5, 4, 3],



	//Walk, Run & Jump Bob:
	//Base Documentation:
	//The Bobbing means how far a frame is offset to give the impression of fluid movementParameters
	//normaly you want your increments to be of 1 above or below the previous frame
	//
	//Game Documentation:
	//Used for bobbing hair, chest armor, and center of rotation.
	//Walk Frame: walk.1, walk.2, walk.3, walk.4, walk.5, walk.6, walk.7, walk.8
	"walkBob" : [     -1,     -2,     -1,      0,     -1,     -2,     -1,      0],
	//Run Frame: run.1, run.2, run.3, run.4, run.5, run.6, run.7, run.8
	"runBob" : [    -1,     0,    -1,    -2,    -1,     0,    -1,    -2],
	//This one is applied to all the frames, you will have to bob it in your graphics
	"jumpBob" : 1,


	//Swim Bob:
	//The Bobbing Used for the swim animation
	//
	//idle Frames: swimidle.1,
	//             swimidle.2
	//Swim Frames:     swim.1, swim.2, swim.3, swim.4, swim.5, swim.6, swim.7
	"swimBob" :            [0,     -1,     -2,     -1,      0,      0,      0],



	//Front Arm And Back Hand Rotation Center:
	//I's basically how far from the center each arm graphics should be offset
	//If your race have wider shoulders, you might want to modify this.
	"frontArmRotationCenter" : [-3, -1],
	"backArmRotationCenter" : [-2, 0],



	//Front Hand Position:
	//Base Documentation:
	//The offset at which the object will be heald by the character.
	//This is based on your arm front arm graphic in your humanoid folder.
	//
	//Game Documentation:
	//The anchor for items held in the front hand
	"frontHandPosition" : [8, -3],


	// The pixel difference between the front and back arms, all data for the
	// back arm is calculated by adding this offset to the front arm values.
	"backArmOffset" : [3, 0],



	//Mouth Offset:
	//These are the offset to correctly place the mouth over the characer
	"mouthOffset" : [3, 3],



	//Feet Offset:
	//I'm not sure, But i think it's the number of pixel your character
	//will hover above the ground at all time.
	"feetOffset" : [0, -20],



	//Head, Chest, Back & Leg Armor Offset:
	//These are the armor offset used to display a piece of armor correctly
	//over your characer. Unless your body type is radically different from
	//the ususal bipodal humanoid shape you'll be fine
	"headArmorOffset" : [0, 3],
	"chestArmorOffset" : [0, -2],
	"backArmorOffset" : [-6, -2],
	"legsArmorOffset" : [0, -12],



	//VaporTrailFrames:
	//The number of frames the vapor trail animation takes
	"vaporTrailFrames" : 8,
	
	//VaporTrailCycle:
	//The amount of time your vapor trail animation will take to completition.
	"vaporTrailCycle" : 0.5,



	//Death Particles & Particles Emitters:
	//This Is what controls the particles that appears when you die.
	"deathParticles": "deathPoof",
	"particleEmitters": {
		"deathPoof" : {
		  "particles" : [
			{
			  "particle" : {
				"type" : "animated",
				"animation" : "/animations/playerdeath/playerdeath.animation",
				"size" : 1,
				"angularVelocity" : 0,
				"fade" : 1,
				"destructionTime" : 7,
				"position" : [0, 0],
				"initialVelocity" : [0, 0],
				"finalVelocity" : [0, 0],
				"approach" : [1, 1],
				"timeToLive" : 1.0,
				"layer" : "middle"
			  }
			}
		  ]
		}
	},



	//Humanoid Timings:
	//Don't touch these unless you know what you are doing! These settings
	//will change either the number of frame a certain animation takes
	//or change the amount of time an animation will take.
	"humanoidTiming" : {



		//stateCycle :
		//The amount of time each animation will take to execute. you can make it
		//longer or shorter, but it might look weird if you mess too much around
		//
		//Default Timings:
		//Idle = 1s
		//Walk = 0.75s
		//Run  = 0.75s
		//Jump = 0.25s
		//Fall = 0.25s
		//Swim = 0.5s
		//SwimIdle = 0.5s
		//Duck = 1s
		//Sit  = 1s
		//Lay  = 1s
		//
		//SATE NAME:    Idle, Walk,  Run, Jump, Fall, Swim, SwimIdle, Duck, Sit, Lay
		"stateCycle" : [ 1.0, 0.75, 0.75, 0.25, 0.25, 0.50,     0.50,  1.0, 1.0, 1.0],


		//State Frame :
		//The number of frames a certain animation will take,
		//This only affects the more detailed animations. If you change these
		//be ready for a lot of work as you will have to "re-wire" all of your
		//armors, humanoid grpahics, .frames and what not. this will aslos make your race
		//incompatible with other pieces of armor unless you patch the existing
		//.frames to incorporate your extra frames
		//
		//Default Number Of Frames In Each Animation:
		//Idle = 1 frame
		//Walk = 8 frames
		//Run  = 8 frames
		//Jump = 4 frames
		//Fall = 4 frames
		//Swim = 7 frames
		//SwimIdle = 2 frames
		//Duck = 1 frame
		//Sit  = 1 frame
		//Lay  = 1 frame
		//
		//STATE NAME:    Idle, Walk, Run, Jump, Fall, Swim, SwimIdle, Duck, Sit, Lay
		"stateFrames" : [1   , 8   , 8  , 4   ,    4,    7,        2,    1,   1,   1],



		//Emote Cycle:
		//The number of frames a certain emote animation will take. You can make it faster
		//or quicker, but make sure it doens't end up in the uncanny valley.
		//
		//Default Timings:
		//EmoteIdle  = 1s
		//Blabbering = 0.3s
		//Shouting   = 0.3s
		//Happy   = 0.3s
		//Sad     = 1s
		//NEUTRAL = 0.3s
		//Laugh   = 0.5s
		//Annoyed = 1s
		//Oh      = 1s
		//OOOH    = 1s
		//Blink   = 1s
		//Wink Eat Sleep = 0.5s
		//normal = 0.3s
		//caps = 1s
		//
		//EMOTE NAME:   EmoteIdle, Blabbering, Shouting, Happy, Sad, NEUTRAL, Laugh, Annoyed,  Oh, OOOH, Blink, Wink Eat Sleep , normal, caps,
		//FACE EXPRESSION:   NONE,       NONE,     NONE,    :), :'(,      :|,    :D,    NONE,  :o,   :O,  NONE,              ;),   NONE, NONE,
		"emoteCycle" : [      1.0,        0.3,      0.3,   0.3, 1.0,     0.3,   0.5,     1.0, 1.0,  1.0,   1.0,             0.5,    0.3, 1.0],


		//Emote Frames:
		//The number of frames for a specific emote animation. This will only affect
		//the number of frames required in your emote.png file in your humanoid graphics.
		//Be carfeull as you will have to create a specific emote.frame in the same folder
		//as your humanoid grpahics, you don't want to overrided the new emotes to all the other
		//races
		//
		//Default Number Of Frames In Each Animation:
		//EmoteIdle  = 1 frame
		//Blabbering = 2 frames
		//Shouting   = 2 frames
		//Happy   = 2 frames
		//Sad     = 5 frames
		//NEUTRAL = 2 frames
		//Laugh   = 2 frames
		//Annoyed = 2 frames
		//Oh      = 2 frames
		//OOOH    = 2 frames
		//Blink   = 3 frames
		//Wink Eat Sleep = 5 frames
		//normal = 2 frames
		//caps = 2 frames
		//
		//EMOTE NAME:   EmoteIdle, Blabbering, Shouting, Happy, Sad, NEUTRAL, Laugh, Annoyed,  Oh, OOOH, Blink, Wink Eat Sleep , normal, caps,
		//FACE EXPRESSION:   NONE,       NONE,     NONE,    :), :'(,      :|,    :D,    NONE,  :o,   :O,  NONE,              ;),   NONE, NONE,
		"emoteFrames" : [       1,          2,        2,     2,   5,       2,     2,       2,   2,    3,     3,               5,      2,    2]
	},



	//Personalities:
	//This Is what makes your idle frame look like you decided whil creating your character.
	//If you only want the standard because some offset will break your graphics, You can simply
	//Get Rid of all the rest of the personalities.
	//
	//["BodyIdleFrameName", "ArmIdleFrameName", [body offset], [head offset]]
	"personalities" : [
		[ "idle.1", "idle.1", [0, 0], [0, 0] ], //standard
		[ "idle.2", "idle.2", [-1, 0], [0, 0] ], //confident
		[ "idle.3", "idle.3", [-1, 0], [0, 0] ], //gunslinger
		[ "idle.4", "idle.4", [-1, 0], [0, 0] ], //heroic
		[ "idle.5", "idle.5", [0, 0], [0, 0] ], //scared
		[ "idle.2", "idle.5", [-1, 0], [0, 0] ], //wonderful
		[ "idle.4", "idle.3", [-1, 0], [1, 0] ], //prepared
		[ "idle.5", "idle.2", [0, 0], [0, 0] ], //fabulous
		[ "idle.4", "idle.1", [0, 0], [0, 0] ], //stoic
		[ "idle.5", "idle.3", [0, 0], [2, 0] ] //nervous
	],



	"movementParameters" : {
		//Standing Poly:
		//This is the character's standard hitbox.
		//
		//Crouching Poly:
		//This is the character's crouching hitbox.
		//
		//All the coordiantes for the polygon have origin at the center of the character's tile
		//You might notice that these values are small, this is normal. Most of the coordiantes
		//in the game are when it comes to offseting or placing something around the character.
		//The fact is that in this case 1 does not mean 1 pixel, but 8 pixels. this is mainly
		//because a block in the game is 8 pixel wide and 8 pixel tall. You don't need to close
		//the hitbox by making your last point the same as your first, it will close your hitbox's
		//polygon for you.
		//
		//In these values, 
		"standingPoly" : [ [-0.75, -2.0], [-0.35, -2.5], [0.35, -2.5], [0.75, -2.0], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65] ],
		"crouchingPoly" : [ [-0.75, -2.0], [-0.35, -2.5], [0.35, -2.5], [0.75, -2.0], [0.75, -1], [0.35, -0.5], [-0.35, -0.5], [-0.75, -1] ],



		//Mass:
		//This is how much your race will be affected by gravity, please don't make it negative.
		//
		"mass" : 1.6,



		//DON'T TOUCH THESE
		// should keep the player from teleporting through walls
		"maximumCorrection" : 2,
		"maxMovementPerStep" : 0.4
	}
}
